/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  width: 100%;
  min-width: $min-width;
  text-align: left;
  order: 1;
  -webkit-order: 1;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 101;
  &-top {
    background-color: #222222;
    padding: 13px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    span {
      font-weight: bold;
      font-size: 14px;
      color: #ffffff;
      opacity: 0.8;
      text-transform: uppercase;
      // margin-left: 79px;
      margin-left: 60px;
    }
    &-close {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: $transition;
      font-size: 13px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &-content {
    padding: 0px 50px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    // transition: $transition;
    &.fixed {
      position: fixed;
      width: 100%;
      background-color: #fff;
    }
  }
  &-box {
    display: flex;
    align-items: center;
    // width: calc(100% - 160px);
    justify-content: space-between;
  }
  &-nav {
    display: flex;
    margin-right: auto;
    li {
      margin: 0 30px;
      position: relative;
      a {
        color: #222222;
        font-size: 14px;
        line-height: 17px;
        position: relative;
        text-transform: uppercase;
        z-index: 2;
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          height: 37px;
          opacity: 0;
          background-image: url(/assets/img/link-bg.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          transition: $transition;
        }
        &:hover,
        &.active {
          color: #42203f;
          &:after {
            opacity: 1;
          }
        }
      }
      ul {
        position: absolute;
        top: 47px;
        left: 200%;
        transform: translateX(-50%);
        width: 264px;
        background: #ffffff;
        padding: 25px 0;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        li {
          padding: 0;
          margin: 0;
          a {
            text-transform: initial;
            font-size: 16px;
            line-height: 170%;
            color: #666666;
            padding: 7.6px 40px;
            display: block;
            &:hover {
              background-color: #42203f;
              color: #ffffff;
              &:after {
                display: none;
              }
            }
          }
        }
      }
      &:hover {
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          width: 100%;
          height: 80px;
          z-index: 1;
        }
        ul {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &-options {
    display: flex;
    align-items: center;
    li {
      margin-left: 45px;
      a {
        display: flex;
        align-items: center;
      }
      i {
        color: #222222;
        transition: $transition;
        font-size: 19px;
        &:hover {
          color: #42203f;
        }
      }
      span {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #42203f;
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 12px;
        color: #fff;
      }
    }
  }
}

.btn-menu {
  color: #222222;
  cursor: pointer;
  display: none;
  height: 45px;
  width: 22px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  z-index: 111;
  span {
    background-color: #222222;
    display: block;
    height: 2px;
    left: calc(50% - 11px);
    position: absolute;
    -ms-transform-origin: center;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 22px;
    &:nth-child(1) {
      top: calc(50% - 7px);
    }
    &:nth-child(2) {
      top: calc(50% - 1px);
    }
    &:nth-child(3) {
      top: calc(50% + 5px);
    }
  }
  &.active {
    cursor: pointer;
    span {
      &:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .header-logo {
    min-width: 110px;
  }
  .header-content {
    padding: 5px 40px;
  }
}

@media screen and (max-width: 1200px) {
  .header-logo {
    min-width: 85px;
  }
  .header-nav li {
    margin: 0 15px;
  }
  .header-nav li a,
  .header-nav li ul li a {
    font-size: 12px;
  }
  .header-box {
    width: calc(100% - 125px);
  }
  .header-options li {
    margin-left: 25px;
  }
  .header-nav li ul li a {
    padding: 5px 30px;
  }
  .header-nav li ul {
    padding: 10px 0;
    width: 220px;
  }
}

@media screen and (max-width: 991px) {
  .header-options li i {
    font-size: 16px;
  }
  .header-options li {
    margin-left: 15px;
  }
  .header-options li span {
    width: 18px;
    height: 18px;
    font-size: 11px;
  }
  .header-nav li {
    margin: 0 10px;
  }
  .header-top span {
    font-size: 12px;
    margin-left: 0;
  }
  .header-content {
    padding: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .btn-menu {
    display: block;
  }
  .header-content {
    padding: 15px 15px;
  }
  
  .header-search{
    width:  55% !important;
    margin-right: 42px !important;
  }
  .header-top span {
    font-size: 9px;
    display: block;
  }
  .header-top-close {
    top: 48%;
  }
  .header-logo {
    width: 130px;
  }
  .header-box {
    right: -306px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 230px;
    height: 100%;
    flex-direction: column;
    background-color: #ffffff;
    color: #2a2a2a;
    z-index: 101;
    justify-content: start;
    align-items: flex-start;
    padding: 48px 30px 30px;
    transition: 0.3s ease-in;
    overflow: scroll;
    flex-direction: column;
    &.active {
      right: 0;
    }
  }
  .header-nav {
    flex-direction: column;
  }
  .header-nav li {
    margin: 0;
    margin-bottom: 15px;
  }
  .header-nav li a,
  .header-nav li ul li a {
    font-size: 14px;
  }
  .header-options li {
    margin-left: 0;
  }
  .header-options {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: self-start;
    
  }
  
  .header-content.fixed {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fff !important;
    .btn-menu {
      top: 50%;
    }
  }

  .header-nav li ul {
    width: 100%;
    position: relative;
    left: auto;
    transform: none;
    top: auto;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    display: none;
    &.active {
      display: block;
    }
  }
  .header-nav li ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-nav li:hover:after {
    display: none;
  }
}

// vishal css *************************

.header-search {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #fff;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
}
.header-search form {
  width: 100%;
  display: flex;  
}
.header-search form button{
  border: none;
  background-color: transparent;
}
.search-input {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  font-size: 14px;
}

.user-icons {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.user-icons span {
  position: absolute;
  top: 0;
  right: -12px;
}

.header-box-second {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  box-shadow: 7px 2px 13px #d3d3d3;
  top: 0px;
  grid-gap: 6rem;
  gap: 6rem;
  padding-top: 0px;
  padding-bottom: 6px;
  z-index: 10;
}
.header-box-second h6{
  font-weight: 600;
  cursor: pointer;
  color: gray;

}
.category-slider {
  width: 90%;
  padding-top: 40px;
  padding-bottom: 0px;
  margin: auto;
}
.image-container{
  width: 250px !important;
  height: 250px !important;
}
.category-slide {
  text-align: center;
  padding: 10px;
}

.image-container {
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container .brand-logo{
  border-radius: 40%;
  border: 3px solid #ffc506;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-name {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
}
.addLists {
  background: linear-gradient(to right, #42203f, #432140);
  width: 100%;
  border: none;
  font-size: 1.1rem;
  padding: 12px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.addLists:hover {
  background: linear-gradient(to right, #000000, #000000);
}
.products-item_wishlist {
  background-color: #fff;
  position: absolute;
  top: 0;
  border-radius: 48px;
  width: 38px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 10px;
  right: 0;
}
.products-item_wishlist button {
  display: flex;
  font-size: 16px;
}

.header-content{
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}


.exchanges h6{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
}
.exchanges ul{
  font-size: 1.1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.exchanges ul li{
  font-size: 1rem;
  margin-top: 12px;
    line-height: 18px;
    color: #666666;
    font-weight: 400;
    line-height: 100%;
}
.exchanges-page{
  padding: 30px 0px;
}







.about-container {
  background: #fff0f5;
  padding: 40px 30px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  color: #4b2e2e;
}

.about-title {
  font-size: 36px;
  color: #d63384;
  text-align: center;
  margin-bottom: 10px;
}

.about-subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #6c3483;
}

.about-text {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 15px;
}

.highlight {
  color: #ff1493;
  font-weight: bold;
}

.highlight-pink {
  color: #e75480;
  font-style: italic;
  font-weight: bold;
}

.what-expect {
  font-size: 22px;
  margin-top: 30px;
  color: #a52a2a;
}

.expect-list {
  margin-top: 15px;
  list-style: none;
  padding-left: 0;
  font-size: 18px;
}

.expect-list li {
  margin-bottom: 10px;
  padding-left: 25px;
  position: relative;
}

.expect-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.values-section {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 40px 20px;
  background-color: #fff;
}

.values-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.value-box {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  color: #fff;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.value-box:hover {
  transform: translateY(-5px);
}

.value-front {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.value-front h3{
  color: #fff;
  line-height: 1;
}
.value-number {
  font-size: 22px;
margin-bottom: 20px;  
}

.value-hover {
  position: absolute;
  inset: 0;
  background-color: #432140;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.value-hover p{
  color: #fff;
}

.value-box:hover .value-hover {
  opacity: 1;
}

.box1 {
  background: linear-gradient(to bottom right, #7a4e77, #ce3bc2);
}

.box2 {
  background: linear-gradient(to bottom right, #df9dd9, #8a0e7f);
}

.box3 {
  background: linear-gradient(to bottom right, #f165e6, #2c0028);
}


.vision-mission-section {
  background-color: #ffeef7;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  background-color: #fff;
  padding: 30px 25px;
  max-width: 400px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #111;
}

.underline {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #432140;
  margin-bottom: 15px;
}

.card p {
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}
.header-logo {
  padding-top: 20px;
}


.product-stock {
  font-weight: bold;
  font-size: 14px;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: rgb(255, 28, 28) !important;
}
a.user-icons.wh span{
  right: 0;
}

.addListss.out-of-stock{
    background: rgb(223, 223, 223);
    // color: rgb(39, 39, 39) !important;
    width: 100%;
    border: none;
    font-weight: 900;
    font-size: 1.1rem;
    padding: 12px;
    border-radius: 5px;
}